@import './../scss/prefix.scss';
#Quizzes{
  overflow: auto;
  height: 100%;
  &::-webkit-scrollbar {
  display: none;
  }
}
.loading{
  position: fixed;
  left: 50%;
  top: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: white;
  transform: translate(-50%, -50%);
  z-index: 99;
}